<div class="jumbotron">
  <h1 class="display-4">Éditer un gossip 📜</h1>
  <p class="lead"></p>
  <%= link_to '🔙 Accueil', root_path, class: 'btn btn-primary btn-lg' %>
</div>

<div class="card text-center mx-auto my-2" style="max-width: 50rem;">
  <div class="card-header text-muted">
    <%= DateTime.now.strftime("%A, %d %b %Y %l:%M %p") %>
  </div>
  <div class="card-body">
    <%= form_tag gossip_path, method: "patch", class: "form-group" do %>
      <div class="form-group form-check">
        <%= label_tag 'Titre' %>
        <%= text_field_tag 'title', @gossip.title, class: "form-control" %>
      </div>

      <div class="form-group form-check">
        <%= label_tag 'Contenu' %>
        <%= text_area_tag 'content', @gossip.content, rows: 5, class: "form-control" %>
      </div>

      <%= submit_tag "Modifier ✅", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>