<div class="jumbotron">
  <h1 class="display-4"><%= @city.name %> 🛣</h1>
  <p class="lead"></p>
</div>

<div class="card text-center mx-auto m-5" style="max-width: 50rem;">
  <div class="card-header text-muted">
    Nombre d'articles écrits à <%= @city.name %> : <%= @city.users.map{ |user| user.gossips.count }.sum %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Ville</h5>
    <p class="card-text"><%= @city.name %></p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Code postal</h5>
    <p class="card-text"><%= @city.zip_code %></p>
  </div>
</div>

<h2 class="text-center">Tous les gossips écrits à <%= @city.name %> :</h2>

<% if @city.users.map{ |user| user.gossips.count }.sum > 0 %>
  <% @city.users.each do |user| %>
    <% user.gossips.each do |gossip| %>
      <!-- on fait une boucle pour afficher chaque gossip -->
      <div class="card my-4 mx-auto" style="max-width: 50rem;">
        <div class="card-body">
          <h5 class="card-title">
            <%= gossip.id %>. <%= gossip.title %> 
            (<%= gossip.likes.count %> <%= (gossip.likes.count) == 1 ? 'like' : 'likes' %>)
          </h5>
          <p class="card-text"><%= gossip.content %></p>
          <p class="card-text"><%= user.first_name %></p>
          <%= link_to 'Go', gossip_path(gossip.id), class: "btn btn-primary" %>
          <% if logged_in? %>
            <% pre_like = gossip.likes.find { |like| like.user_id == current_user.id} %>
            <% if pre_like %>
              <%= link_to 'Unlike', gossip_like_path(gossip.id, pre_like.id), method: :delete %>
            <% else %>
              <%= link_to 'Like', gossip_likes_path(gossip.id), method: :post %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="card my-4 mx-auto" style="max-width: 50rem;">
    <div class="card-body">
      <p class="card-text">Aucun gossip écrit à <%= @city.name %>...</p>
    </div>
  </div>
<% end %>
